@import '../Variables/Variables.scss';


.form_wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: $body;
    height: calc(100vh - 80px);

    form {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 450px;
        height: 700px;
        align-items: center;
        justify-content: space-between;

        fieldset {
            color: white;
            display: flex;
            padding: 15px;
            justify-content: space-between;
            width: 80%;
            flex-wrap: wrap;
            border: 1px solid;
            border-radius: 5px;
            background-color: rgb(28, 136, 230);

            label {
                display: flex;
                color: white;
                flex-direction: column;
                margin-top: 5px;

                input {
                    margin-top: 5px;
                    padding: 10px;
                    border-radius: 5px;
                    text-transform: capitalize;
                    width: 150px;
                }
                select {
                    margin-top: 5px;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }


    }

    button {
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        background-color: rgb(128, 191, 247);
        font-weight: 500;
            &:hover {
                background-color: rgb(89, 152, 207);
            }
    }
}


