@import '../Variables/Variables.scss';

.home {
    text-align: center;   
    background-color: $body;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    img {
        width: 300px;
        filter: invert(1);      
        animation: appear 0.5s linear;
    }
}


@keyframes appear {
    0% {        
        transform: scale(0);
    }
    100% {       
        transform: scale(1);
    }
}