@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Xanh Mono', monospace;    
}